.react-calendar {
  background-color: #f87171; /* Tailwind's bg-red-500 color in hex */
  border-radius: 0.5rem; /* Tailwind's rounded-lg */
  padding: 1rem; /* Tailwind's p-4 */
}

/* .react-calendar__tile {
  background-color: #e4fee2; 
  border-radius: 0.375rem; 
  transition: background-color 0.3s;
} */

.react-calendar__tile--active {
  background-color: #fca5a5; /* Tailwind's bg-red-300 */
}

.react-calendar__tile:hover {
  background-color: #f87171; /* Tailwind's bg-red-500 */
  color: white;
}
